<!-- Default form login -->

<div align="center">
  <div class="container">
  <div class="offset2 col-lg-8 col-md-8 mt-xl-5 mb-5">
      <form class="text-center border border-light p-5">
          <p class="h4 mb-4">发布新书</p>
          <!-- Password -->
          <input type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="书名">
          <input type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="ISBN码">
          <input type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="原价">
          <input type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="售价">
          <input type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="图书图片链接">



          <div class="d-flex justify-content-around">
              <div>
              </div>
              <div>
                  <!-- Forgot password -->
                  <a href="" align="right">忘记密码？</a>
              </div>
          </div>
      
          <!-- Sign in button -->
          <button class="btn btn-info btn-block my-4" type="submit">确认</button>
      
      </form>
  <!-- Default form login -->
  </div>
  </div>
</div>