<!-- Topbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light white">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <form class="form-inline my-1">
      <div class="md-form form-sm my-0">
        <input class="form-control" type="text" placeholder="查找书籍"
          aria-label="Search">
      </div>
      <button class="btn btn-outline-black btn-sm my-0" type="submit">查找</button>
  </form> 
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">



    <ng-container *ngIf="!authService.isAuthenticated; else elseTemplate">
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">登录
              </a>      
             </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">注册
            </a>      
           </li>
    </ng-container>
    <ng-template #elseTemplate>
            <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <!-- Counter - Alerts -->
          <span class="badge badge-danger badge-counter">2+</span>
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">
            交易信息
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-primary">
                <i class="fas fa-file-alt text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 12, 2019</div>
              <span class="font-weight-bold">一名用户正在求购数学分析</span>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-success">
                <i class="fas fa-donate text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 7, 2019</div>
              一名用户求购一本全新的普通物理学
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
        </div>
      </li>
      <!-- Nav Item - Messages -->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <!-- Counter - Messages -->
          <span class="badge badge-danger badge-counter">2</span>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">
            私聊信息
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
            
            <div class="mr-3">
                <div class="icon-circle bg-primary">
                  <i class="fas fa-file-alt text-white"></i>
                </div>
              </div>
            
            <div class="font-weight-bold">
              <div class="text-truncate">请问您还有数学分析吗</div>
              <div class="small text-gray-500">魏耀东</div>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
                <div class="icon-circle bg-primary">
                  <i class="fas fa-file-alt text-white"></i>
                </div>
              </div>
            <div>
              <div class="text-truncate">普通物理学便宜一点</div>
              <div class="small text-gray-500">石攻玉</div>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
        </div>
      </li>
      <div class="topbar-divider d-none d-sm-block"></div>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="#">修改昵称</a>
            <a class="dropdown-item" href="#">修改密码</a>
            <a class="dropdown-item" href="#">卖方订单</a>
            <a class="dropdown-item" href="#">买方订单</a>
            <a class="dropdown-item" (click)='authService.logout()'>登出</a>
          </div>
        </li>
    </ng-template>

  </ul>

</nav>
<!-- End of Topbar -->