<div class="chat" style="margin-top: 6rem; margin-bottom: 6rem">
  <ul>
    <li>
      <div class="message">您好数学分析能便宜点吗</div>
    </li>
    
    
    <li>
      <div class="message">最低价了，不行</div>
    </li>
    
    <li>
      <div class="message">好吧那你支持当面交易吗</div>
    </li>
    
    <li>
      <div class="message">可以的，我就在紫金港</div>
    </li>
    <li>
      <div class="message">可以的，我就在紫金港</div>
    </li>
    <li>
      <div class="message">可以的，我就在紫金港</div>
    </li>
    <li>
      <div class="message">可以的，我就在紫金港</div>
    </li>
    <li>
      <div class="message">可以的，我就在紫金港</div>
    </li>
    <li>
      <div class="message">可以的，我就在紫金港</div>
    </li>
    <li>
      <div class="message">可以的，我就在紫金港</div>
    </li>
    <li>
      <div class="message">可以的，我就在紫金港</div>
    </li>
  </ul>
  <input type="text" placeholder="输入你要发送的信息" /><button>发送</button>
<div>