<div class="container-fluid" style="margin-top: 1rem;">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h4 class="m-0 font-weight-bold text-primary">书籍搜索</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="form-group">
                        <label for="disabledTextInput">书籍名称</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="输入你想查找的书籍"
                            formControlName="bookname">
                        </div>
                        <div class="form-group">
                        <label for="disabledSelect">排序方式</label>
                        <select id="disabledSelect" class="form-control">
                            <option>选择你想要的排序方式</option>
                            <option value="1">价格从低到高</option>
                            <option value="2">价格从高到低</option>
                        </select>
                        </div>
                        <div align="right">
                        <button type="submit" class="btn btn-primary" (click)='doSearch()' [disabled]="form.invalid">查找</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--
        <div class="col-lg-10 col-md-9">
            <div class="row">
                <div *ngFor="let number of [1,2,3,4,5]" class="col-lg-4 col-md-4" style="margin-bottom: 2rem;">
                    <app-book></app-book>
                </div>
            </div> 
        </div>
        -->
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div *ngFor="let x of (searchRes?searchRes: [])" class="col-lg-4 col-md-4" style="margin-bottom: 2rem;">
                    <app-book [BookInfo]='x'></app-book>
                </div>
            </div> 
        </div>
    </div>
</div>