<!-- Default form login -->

<div align="center">
    <div class="container">
    <div class="offset2 col-lg-8 col-md-8 mt-xl-5 mb-5">
        <form class="text-center border border-light p-5" [formGroup]="form">
            <p class="h2 mb-4">发布新的求购请求</p>
            <!-- Password -->
            <div align="left"><label for="disabledSelect">求购题目<a style="color: red">*</a></label></div>
            <input formControlName="Title" type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="请输入求购信息的标题，不超过20字">
            <div align="left"><label for="disabledSelect">求购信息描述<a style="color: red">*</a></label></div>
            <input formControlName="Content" type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="请输入求购信息的内容，不超过200字">
            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit" (click)='OnSubmit()'>确认发布求购请求</button>
        
        </form>
    <!-- Default form login -->
    </div>
    </div>
  </div>